.container {
    width: auto;
    min-width: 400px;
    max-width: 600px;
    padding: 0 10px 10px;
}

.header {
    margin-top: 15px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: inherit;
}

#options_button {
    background: url("../resources/img/cog-solid.svg") no-repeat;
    height: 20px;
    width: 20px;
}

#options_button:hover {
    background: url("../resources/img/cog-solid-hover.svg") no-repeat;
    cursor: pointer;
}

h1 {
    text-align: center;
}

h3, h4 {
    margin-bottom: 5px;
}

h5 {
    font-size: 12pt;
}

ol li {
    margin-top: 5px;
    white-space: nowrap;
}

#vendors_info, #vendor_list {
    font-family: Arial, Helvetica, Arial, sans-serif;
}

#vendors_info {
    list-style-type: none;
    padding-left: 0;
}

#vendor_list_header.hidden {
    display: none;
}

#vendor_list {
    border: 1px solid black;
    padding: 5px;
    max-height: 100px;
    overflow:hidden;
    overflow-y: scroll;

    list-style-type: none;
}

#vendor_list.empty {
    display: none;
}

#vendor_list li {
    margin-bottom: 3px;
}

#vendor_list li:last-child {
    margin-bottom: 0;
}

.question_icon {
    display: inline-block;
    background: url("../resources/img/question-circle.svg") no-repeat;
    margin-left: 5px;
    width: 13px;
    height: 13px;
}

.question_icon:hover {
    background: url("../resources/img/question-circle-hover.svg") no-repeat;
}