body {
    /*background-color: #eee;*/
}

.container {
    width: 550px;
    padding: 0 10px 10px;
}

h1 {
    text-align: center;
}

h3, h4 {
    margin-bottom: 5px;
}

ol li {
    margin-top: 5px;
}