.content.descriptions {
    max-width: 700px;
}

ul.description {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

ul.description li {
    font-weight: normal;
    font-family: times, serif;
    font-size: 13pt;
    text-align: justify;
}

ol li:last-child ul {
    margin-bottom: 0;
}