table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-size: 1.1em;
}

td:not(.row_header) {
    min-width: 35px;
    max-width: 70px;
    width: 70px;
}

#global_row td {
    text-align: center;
    font-weight: bold;
}

#global_header {
}

.row_header {
    width: auto;
    text-align: left !important;
    padding: 5px 10px;
}

.red {
    background-color: #ff3030;
}

.green {
    background-color: #2cbe2c;
}

.light-red {
    background-color: #ff8b8b;
}

.light-green {
    background-color: #82ff82;
}